# Based on github/gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
tests/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
Pipfile
Pipfile.lock
.env
.venv
env/
venv/

# editor files
*.swp
*.bak
*.aux
*.log
*.nav
*.out

# integration tests
_output

# documentation
docs/_build
docs/manifest.rst

.pytype
.pytest_cache
.mypy_cache
out
imports
.ninja_deps
.ninja_log
build.ninja

coverage
